<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PiHome - Segurança</title>
    <link href="/static/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/static/styles/botao.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">PiHome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clima</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/sensores">Medições ao longo do dia</a>
                <a class="dropdown-item" href="/minimas_maximas">Mediçoes mínimas e máximas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/camera/historico">Segurança</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comofunciona">Como funciona?</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
<hr>
      <h2 class="text-center">SEGURANÇA</h2>
<hr>
      <form action = "/camera/historico" method = "POST">
                  <label for = "username">Escolha a data:</label>
                  <select name = "dia_foto">
                  {% for dia in dias_foto %}
                  <option value = {{ dia }} selected> {{ dia }} </option>
                  {% endfor %}
                  </select>
                  <input type = "submit" value = "OK" class = "button-ok"> 
                  </form>
      <h3>{{ historico }}</h3>
      {% for nome in nomes_foto %}
	<h5>Foto tirada:{{ nome }} </h5>
      <img src="/static/intrusos/{{ nome }}" alt = "Image Placeholder" width="49%" title="teste">
		<hr>
      {% endfor %}
    <script src="/static/styles/jquery-3.2.1.min.js"></script>
    <script src="/static/styles/popper.min.js"></script>
    <script src="/static/styles/bootstrap-4.0.0.js"></script>
    </body>
</html>
