<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PI-HOME Digital</title>
    <!-- Bootstrap -->
    <link href="/static/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/static/styles/botao.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <style>
    body{
      background-position: center;
      background-image: url("static/images/inicio.jpg");
      background-attachment: fixed;
      background-size: 100%; 
      background-repeat: no-repeat;
    </style>
    <div>
      <a href="login.html" class="botao4">login</a>
      <a href="cadastre-se.html" class="botao3">cadastre-se</a>
    </div>
</body>
