<!DOCTYPE html>
 
<html>
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="static/styles/style.css" type="text/css" rel="stylesheet">
    <link href="static/styles/botao.css" type="text/css" rel="stylesheet">
  </head>

 <body>
  <div class="container">
    <h1>Dados de login</h1>
    <p>Preencha os dados para entrar na sua conta.</p>
    <hr>
	<form name="meuForm" class="form-login" method="post" onsubmit="return validateForm()"
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Digite seu email" name="email" href="email" required>

    <label for="psw"><b>Senha</b></label>
    <input type="password" placeholder="Digite sua senha" name="senha" href="senha" required>
    <div class="container signin">
    <a href="main_arrumado.html" class="botao5">entrar</a>

	  </form>
