<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PiHome - Clima</title>
    <link href="/static/styles/style.css" type="text/css" rel="stylesheet">
    <link href="/static/styles/botao.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">PiHome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clima</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/sensores">Medições ao longo do dia</a>
                <a class="dropdown-item" href="/minimas_maximas">Mediçoes mínimas e máximas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/camera/historico">Segurança</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comofunciona">Como funciona?</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
<hr>   
<h2 class="text-center">Medições ao longo do dia</h2>
<hr>
<hr>
<div class = "row">
	<div class = "col-md-6"><h3>Temperatura atual: {{ Temperatura }} °C</h3></div>
	<div class = "col-md-6"><form action = "/sensores" method = "POST">
								<label for = "username">Digite a temperatura a ser mantida [°C]:</label>
								<input name = "temp_max" value = {{ temp_max }} size = "4" maxlength = "3">
								<input type = "submit" value = "OK" class = "button-ok"> 
								</form>
								<form action = "/sensores" method = "POST">
									<label for = "username">Escolha a data:</label>
									<select name = "dia_escolhido">
									{% for dia in datas_crescentes %}
									<option value = {{ dia }} selected> {{ dia }} </option>
									{% endfor %}
									</select>
									<input type = "submit" value = "OK" class = "button-ok"> 
									</form></div>
           
</div>

<div class = "row">
	<div class = "col-md-8"><h3>Umidade atual: {{ Umid }} %</h3></div>
	
</div>

	<hr>
	<h3>Primeira leitura do dia {{ escolhe_dia_site }}: {{ tempo_inicio }} </h3>
	<h3>Ultima leitura do dia {{ escolhe_dia_site }}: {{ tempo }} -> <a href='/sensores' >Atualizar</a></h3>


							
	<img src="/sensores/plot/temp" alt = "Image Placeholder" width="49%">
	<img src="/sensores/plot/umid" alt = "Image Placeholder" width="49%">
	<hr>
		    

    <script src="/static/styles/jquery-3.2.1.min.js"></script>
    <script src="/static/styles/popper.min.js"></script>
    <script src="/static/styles/bootstrap-4.0.0.js"></script>
  </body>
</html>
